body {
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
  background-color: #E0E0E0; }

section {
  padding: 60px 0; }
  section h1 {
    font-weight: 700;
    margin-bottom: 10px; }
  section p {
    color: #ffffff; }
    section p:last-child {
      margin-bottom: 0; }

nav {
  height: 100px;
  background-color: #0683c9;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  -moz-box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6);
  box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6); }
  nav .navbar-brand {
    padding-top: 20px;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    nav .navbar-brand h1 {
      font-size: 40px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  nav .navbar-brand h1:hover {
    color: #ffffff; }
  nav .nav {
    display: inline-block;
    float: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    nav .nav a {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      margin-left: 20px;
      color: #9FDBFC;
      font-weight: 700px;
      font-size: 20px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    nav .nav li a:hover {
      color: #ffffff; }
    nav .nav li .active {
      color: #ffffff; }
  nav .navbar-brand .logo {
    font-size: 20px;
    padding-top: 0px !important;
    padding-bottom: 20px !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

nav.shrink {
  height: 50px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.portfolio_wrapper {
  padding-top: 150px; }
  .portfolio_wrapper .img-thumbnail {
    width: auto;
    height: 300px; }
  .portfolio_wrapper h2 {
    font-size: 40px; }

.work-wrapper {
  background-color: #0683c9;
  margin-top: 20px; }

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal; }

ol, ul {
  list-style: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

a img {
  border: none; }

.portfolio_container img {
  width: 15%; }

.quotation-mark {
  margin-top: -10px;
  font-weight: bold;
  font-size: 25px;
  color: white;
  font-family: "Times New Roman", Georgia, Serif; }

.quote-text {
  font-size: 19px; }

/*# sourceMappingURL=style.css.map */
